<!DOCTYPE html>
<html>
	<head>
		<table>
		<% @documents.each do |doc| %>
		  <tr>
		    <td><%=doc.title %><td><%= doc.date %></td><td><%= doc.tags %></td><%= doc.labelled %></td>
		  <% end %>
		  </tr>
		</table>
	</head>
</html>
	