<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-widht, initial-scale=1">
	<title>
		D.A.N.S
	</title>
	<link rel="stylesheet" href="stylemain.css">
</head>
<body>

	<div class="wrapper">
	    <div class="sidebar">
	        <h2>Menu</h2>
	        <ul>
	            <li><a href="/docs" data text="All docs">ALL DOCUMENTS</a></li>
	            <li><a href="#" data text="Unread docs">UNREAD DOCS</a></li>
	            <li><a href="#" data text="tags">TAGS</a></li>
	            <li><a href="/adddoc" data text="add doc">ADD DOCUMENT</a></li>
	            <li><a href="#" data text="add doc"> </a></li>
	            <li><a href="#" data text="add doc"> </a></li>
	            <li><a href="/" data text="add doc">SIGN OUT</a></li>

	        </ul> 
	        <div class="down">
	          <a href="/" data text="Sign out">SIGN OUT</i>Sign out</a>
	      </div>
	    </div>
	    <%= yield %>

</html>	    