<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-widht, initial-scale=1">
		<title>
			D.A.N.S
		</title>
		<link rel="stylesheet" href="stylelog.css">

	</head>
	<body>
			<h1>
				Bienvenido a D.A.N.S
			</h1>
			<h2>
				<a href="/log">Acceder!!</a>
				 o entra como 
				<a href="/docs">invitado</a>
			</h2>
		<%= yield %>
</html>
	