<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1">
    <title>
        D.A.N.S
    </title>
    <link rel="stylesheet" href="stylemain.css">
</head>
<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2>Menu</h2>
            <ul>
                <%if @currentUser%>
                    <li><a href="/profile" data text="All docs">PROFILE</a></li>
                    <li><a href="/docs" data text="All docs">ALL DOCUMENTS</a></li>
                    <li><a href="/unreaddocs" data text="Unread docs">UNREAD DOCS</a></li>
                    <li><a href="/tags" data text="tags">TAGS</a></li>
                    <%if @admin%>
                        <li><a href="/adddoc" data text="add doc">ADD DOCUMENT</a></li>    
                    <%end%>
                    <br><br><br>
                <%end%>
                <li><a href="/logout" data text="">EXIT</a></li>
            </ul> 
        </div>
        <%= yield %>

</html>        