<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-widht, initial-scale=1">
	<title>
		D.A.N.S
	</title>
	<link rel="stylesheet" href="stylemain.css">
</head>
<body>

	<div class="wrapper">
	    <div class="sidebar">
	        <h2>Menu</h2>
	        <ul>
	            <li><a href="/docs">All Documents</a></li>
	            <li><a href="#">Unread docs</a></li>
	            <li><a href="#">TAGS</a></li>
	            <li><a href="#">Add document</a></li>

	        </ul> 
	        <div class="down">
	          <a href="#"></i>Sign out</a>
	      </div>
	    </div>
	    <%= yield %>

</html>	    