<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-widht, initial-scale=1">
		<title>
			Log-in Site
		</title>
		<link rel="stylesheet" href="stylelog.css">

		<%= yield %>
	</head>
</html>
	