<!DOCTYPE html>
<html>

	<body>
		<div class="page" style="color: #F6F6F6;">
			<div class="login"> 
				<form method="POST" action="/log">
					<p>Nombre de Usuario:  
					<input type="text" name="user" placeholder="Enter Nombre de Usuario">
					Contraseña:
					<input type="password" name="pass" placeholder="Enter Contraseña">
					<input type="submit" name="Login" value="Login">
					</p>
			</div>
			<h3>
				No tiene una cuenta todavía?
			</h3>
			<h4>
				Cree una, <br>
				Es fácil y sencillo.
			</h4>
			<br><br>
			<div class="register">
				<table>
				<% if defined? errorMessage %>
					   <p class="error"><%= errorMessage %></p>
				<% end %>
				  <tr>
				    <td>
				    	<p>	Nombre:
				    		<input type="text" name="name">
				    	</p>
				    </td>
				    <td class = "right">	
				 		<p>	Apellido:
				    		<input type="text" name="surname">
				    	</p>	
				    	
				    </td>
				  </tr>
				  <tr>
				    <td>
				    	<% if defined? email %>
					   		<p class="error"><%= email[0] %></p>
				 		<% end %>
				    	<p> Su Email:
				    		<input type="text" name="email" placeholder="name@example.com">
				    	</p>
				    </td>
				    <td class = "right">		
				    	<% if defined? username %>
					   		<p class="error"><%= username[0] %></p>
				 		<% end %>
						<p>	Nombre de Usuario:
				    		<input type="text" name="username">
				    	</p>
				    </td>
				  </tr>
				  <tr>
				    <td>
				    	<% if defined? password %>
					   		<p class="error"><%= password[0] %></p>
				 		<% end %>
				    	<p> Contraseña:
				    		<input type="password" name="password">
				    	</p>

				    </td>
				    <td class = "right">		
				    		<p> Repetir Contraseña:
				    		<input type="password" name="password2">
				    		</p>
				    </td>
				  </tr>
				</table>
				<br>
				<input type="submit" name="Sumbit" value="Enviar">
			</form>
			</div>
		</div>
		</body>
</html>