<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-widht, initial-scale=1">
		<title>
			Log-in Site
		</title>
		<link rel="stylesheet" href="stylelog.css">
	</head>
	<body>
			<h1>
				WELCOME TO D.A.N.S
			</h1>
			<h2>
				LOG IN!! or get into like a 
				<a href="/guest">guest</a>
			</h2>
			<div class="login"> 
				<form method="POST" action="/">
					<p>Email/Username:  
					<input type="text" name="user" placeholder="Enter Email or Username">
					Password:
					<input type="password" name="pass" placeholder="Enter password">
					<input type="submit" name="" value="Log-in">
					</p>
				</form>
			</div>
			<h3>
				Don't have an account yet?
			</h3>
			<h4>
				Create one, <br>
				It is fast and easy.
			</h4>
			<div class="register">
				<table>
				  <tr>
				    <td>
				    	<p>	Full Name:
				    		<input type="text" name="">
				    	</p>
				    </td>
				    <td class = "right">		
				    	<p> Your Email:
				    		<input type="text" name="" placeholder="name@example.com">
				    	</p>
				    </td>
				  </tr>
				  <tr>
				    <td>
				    	<form>
				    		<p>	ID number:
				    		<input type="text" name="">
				    		</p>
				    	</form>
				    </td>
				    <td class = "right">		
				       	<form>
				    		<p> New password:
				    		<input type="password" name="">
				    		</p>
				    	</form>
				    </td>
				  </tr>
				  <tr>
				    <td>
				    	<form>
				    		<p>	User name:
				    		<input type="text" name="">
				    		</p>
				    	</form>
				    </td>
				    <td class = "right">		
				       	<form>
				    		<p> Repeat your password:
				    		<input type="password" name="">
				    		</p>
				    	</form>
				    </td>
				  </tr>
				</table>
				<input type="submit" name="" value="Submit">
			</div>	
		</body>
</html>