<!DOCTYPE html>
<html>
	<head>
		<title>Uncorrect</title>
	<body>
		<div class="loginbox">
			<h3>Uncorrect password or username</h3>
			<form method="POST" action="/login">
				<p>Username</p>
				<input type="text" name="users" placeholder="Enter Username">
				<p>Password</p>
				<input type="password" name="passs" placeholder="Enter Password"><br>
				<input type="submit" name="" value="Log-in"><br>
				<a href="/rp">Lost your password?</a><br>
				<a href="/">Don´t have an account?</a>
			</form>
		</div>
	</body>
	</head>
</html>