<!DOCTYPE html>
<html>
	<head>
		<title>Incorrecto</title>
	<body>
		<div class="row justify-content-center align-items-center h-100">
		  <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
			<% if @error %>
			   <p class="error"><%= @error %></p>
			 <% end %>
			<form method="POST" action="/login">
				<p>Nombre de usuario</p>
				<div class="form-group">
					<input type="text" name="us" placeholder="Ingresar Nombre de Usuario">
				</div>
				<p>Contraseña</p>
				<div class="form-group">
				<input type="password" name="pas" placeholder="Ingresar Contraseña"><br><br>
				</div>
				<div class="form-group">
				<input type="submit" name="" value="Log-in"><br>
				</div>
				<a href="/rp">Perdio su contraseña?</a><br><br>
				<a href="/log">No tiene una cuenta todavia?</a>
			</form>
		</div>
	</body>
	</head>
</html>