<!DOCTYPE html>
<html>

    <div class="main_content">
        <div class="header">Manejo de Tags</div>  
        <div class="info">
            <form method="POST" action="/maketag">
                <% if @error %>
                       <p class="error"><%= @error %></p>
                <% end %>
                <p>Nombre del nuevo tag:  
                <input type="text" name="newtag" placeholder="Ingresar Tag">
                </p><br>
                <input type="submit" name="add" value="Agregar">
                <br><br><br>    
                <p>Nombre del tag a borrar:  
                <input type="text" name="deltag" placeholder="Ingresar Tag">
                </p><br>
                <input type="submit" name="delete" value="Borrar">
            </form>
      </div>
    </div>
</div>

</body>
</html>