<!DOCTYPE html>
<html>

  <div class="page-header row justify-content-center align-items-center h-100">
    <h1 id="navbars">PERFIL</h1>
  </div>
  <br>
  <form method="POST" action="/profile">
    <div style="text-align: center;" > 
      <% if @error %>
        <div class="alert alert-dismissible alert-danger justify-content-center" style="text-align: center;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= @error %>
          </div>
      <% end %>
      <% if @succes %>
        <div class="alert alert-dismissible alert-success justify-content-center" style="text-align: center;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= @succes %>
          </div>
      <% end %>
      <div class="form-group row align-items-center justify-content-center">
        <div class="form-group">
          <label>
            Nombre de usuario: <%= @Username %>
            <button type="submit" class="btn btn-primary btn-sm" name="botuser">Editar nombre de usuario</button>   
          </label>
        <%if @edituse%>
          <br>
          <label class="col-sm-auto col-form-label">Nuevo Nombre de usuario:</label>
            <div class="col-sm-auto">
            <input type="text" name="newuser" class="form-control form-control-sm" placeholder="Ingresar Nombre de Usuario">
            <br>
            <button type="submit" class="btn btn-primary btn-sm" name="editus">Aceptar</button>
          </div>
        <%end%>
        <div class="form-group">
          <label>
            Email: <%= @Email %>
            <button type="submit" class="btn btn-primary btn-sm" name="botemail">Editar Email</button>   
          </label>
        <%if @editmail%>
          <br>
          <label class="col-sm-auto col-form-label">Nuevo Email:</label>
          <div class="col-sm-auto">
            <input type="email" name="newemail" class="form-control form-control-sm" placeholder="Ingresar Email">
            <br>
            <button type="submit" class="btn btn-primary btn-sm" name="editemail">Aceptar</button>
          </div>
        <%end%>

        <br>
        <button type="submit" class="btn btn-outline-secondary" name="botpass">Editar Contraseña</button> 
        <%if @editpas%>
          <br>
          <label class="col-sm-auto col-form-label">Contraseña actual:</label>
          <div class="col-sm-auto">
            <input type="password" name="oldpass" class="form-control form-control-sm" placeholder="Ingresar Contraseña">
            <br>
          </div>
          <label class="col-sm-auto col-form-label">Nueva Contraseña:</label>
          <div class="col-sm-auto">
            <input type="password" name="newpass" class="form-control form-control-sm" placeholder="Ingresar Contraseña">
            <br>
          </div>
          <label class="col-sm-auto col-form-label">Repetir Contraseña:</label>
          <div class="col-sm-auto">
            <input type="password" name="repas" class="form-control form-control-sm" placeholder="Ingresar Contraseña">
            <br>
          </div>
            <button type="submit" class="btn btn-primary btn-sm" name="editpass">Aceptar</button>
      <%end%>
      <br>
      <%if !@admin%>
          <label class="col-sm-auto col-form-label">
            <a href="/applyadmin" data text="make admin">Pedir promocion para ser administrador</a>
          </label>
      <%end%>
      <%if @admin%>
          <label class="col-sm-auto col-form-label">
            <a href="/makeadmin" data text="make admin">Crear un administrador</a>
          </label>
          <br>
          <label class="col-sm-auto col-form-label">
            <a href="/maketag" data text="make admin">Manejar tags</a>
          </label>
      <%end%>
    </div> 
  </form> 
</body>
</html>
    