<!DOCTYPE html>
<html>

    <div class="main_content">
        <div class="header">Profile</div>  
        <div class="info">
          <h2>Menu</h2>
	        <ul>
	            <li>Username: <%= @Username %><a href="/edituser" data text="Edit">Edit</a></li>
	            <li>Email: <%= @Email %><a href="/editemail" data text="Edit">Edit</a></li>
	            <li><a href="/editpas" data text="Edit your password">Edit your password</a></li>
	            <%if !@admin%>
	            	<li><a href="/applyadmin" data text="make admin">Apply to be an admin</a></li>
	            <%end%>
	            <%if @admin%>
	            	<li><a href="/makeadmin" data text="make admin">Make a user admin</a></li>
	            	<li><a href="/maketag" data text="make admin">Manage tags</a></li>
	            <%end%>
	        </ul> 
      </div>
    </div>
</div>

</body>
</html>
	