<!DOCTYPE html>
<html>
	<body>
		<div class="loginbox">
			<h3>Retrieve your password</h3>
			<form method="POST" action="/rp">
				<p>Email: 
				<input type="text" name="email" placeholder="Enter Email"></p>
        <br>
				<input type="submit" name="" value="Sumbit"><br><br>
				<a href="/">Don´t have an account?</a>
			</form>
		</div>
	</body>
	</head>
</html>
