<!DOCTYPE html>
<html>
	<body>
		<div class="loginbox">
			<h3>Recupere su contraseña</h3>
			<form method="POST" action="/rp">
				<p>Email: 
				<input type="text" name="email" placeholder="Ingresar Email"></p>
        <br>
				<input type="submit" name="" value="Enviar"><br><br>
				<a href="/log">No tiene una cuenta todavía?</a>
			</form>
		</div>
	</body>
	</head>
</html>
